header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid black;
}

#title {
  color: MediumAquaMarine;
  margin-left: 10px;
}

header h1,
header nav {
  font-family: Verdana;
  font-weight: bold;
  font-size: 14px;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.navigation {
  margin-right: 20px;
}

.navigation a {
  color: black;
}

.navigation span {
  padding: 0 10px;
}
